// Specific CSS for your home-page
.title-site {
  position: absolute;
  top: -153px;
  left: 49px;
  p {
    font-size: 22px;
    color: lightgray;
    opacity: 2.7;
    text-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
  }
}

.banner {
  position: relative;
}

.rental-form {
  position: relative;
  top: 150px;
  right: 15px;
}

.form-inline {
  padding-left: 50px;

}

.title {
    margin-top: 18px;
    margin-left: 37px;
  }

a {
  text-decoration: none;
}
