// Specific CSS for your home-page
.title-site {
  position: absolute;
  top: -230px;
  left: 80px;
  p {
    font-size: 24px;
    color: lightgray;
    opacity: 2.7;
    text-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
  }
}

#home-keyword {
  color: gold;
}

.rental-form {
  position: relative;
  bottom: 65px;
  left: 250px;
}

// .form-inline {
//   padding-left: 50px;
// }

// .title {
//     margin-left: 37px;
//   }

a {
  text-decoration: none;
}
