// Specific CSS for your home-page
.title-site {
  position: absolute;
  top: 15px;
  left: 30px;
}

.banner {
  position: relative;
}

.rental-form {
  position: relative;
  top: 150px;
  right: 15px;
}

.form-inline {
  padding-left: 50px;

}


.title {
    margin-top: 18px;
    margin-left: 37px;
  }
