  <form>
  <div class="form-row ">
    <div class="col-3">
    <select class="form-control" value="choose your bike">
      <option>Electric</option>
      <option> Flying</option>
      <option>Monocycle</option>
      <option>Tandem</option>
      <option>Folding</option>
      <option>Race</option>
      <option>City</option>
      <option>Cargo</option>
    </select>
    </div>
  </div>
  </form>
