<%= render 'shared/navbar' %>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.denverbike.com/upload/734/cms/516769/fr/22850/bannerroute66denver.jpg');">

  <div class="row">
    <div class="col-sm-6">
      <div class="title-site">
        <h1> Bikery </h1>
        <p>Purpose your bike or rent one !</p>
      </div>

    </div>
    <div class="col-sm-6">
      <div class=" style=">
        <h2 class="title">Choose your rental</h2>
        <div class="form-inline">

          <%= form_tag bikes_path, method: "get" do %>
            <%= select_tag 'bike_type', options_for_select(['Electric', 'Flying', 'Monocycle', 'Tandem', 'Folding', 'Race', 'City', 'Cargo']), class: 'form-control' %>
<!--             <#%= text_field_tag :starts_at, "", required: false, class: "datepicker ml-3", label: false, placeholder: "start at" %>
            <#%= text_field_tag :ends_at, "", required: false, class: "datepicker ml-3", label: false, placeholder: "end at" %> -->
            <%= submit_tag "Go", class: "btn btn-info" %>
          <% end %>

        </div>
      </div>

    </div>

  </div>
</div>




