<div class="container">
  <h1>See our list of available bikes</h1>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Product name</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <p><%= link_to "Rent your bike!", "rental#create" %></p>
  <p><%= link_to "Back to homepage", "root" %></p>
</div>
