<div class="background-new-bike" style="background-image: url ('../../assets/images/rent_bike.jpg')">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
