.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 15px;
  margin-left: 14px;
}

.card-product img {
  height: 100%;
  width: 180px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  align-self: center;
}

.card-product-infos h2 {
  margin-bottom: 3px;
}

.card-product-infos h5 {
  font-size: 15px;
}
