.content {
  display: flex;
}

#map {
  height: 80vh;
  width: 45%;
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
